#mainTable {
  width: 100%;
  justify-content: center;
  align-items: center;
}
th {
  border-bottom: 2px solid black;
  font-size: x-large;
  margin: 10;
}
td {
  border-bottom: 1px solid gray;
  font-size: larger;
  margin: 10;
  padding: 30;
}
